.projects {
    background-color: $accent-color;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.projects__item {
    display: flex;
    align-items: center;
}

.projects__desc {
    margin-left: 20px;
}

.projects__number {
    font-size: 21px;
    line-height: 1;
    color: $color-white;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.projects__subtext {
    color: $color-white;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 370px) and (max-width: 800px) {
    .projects {
            background-color: $accent-color;;
            display: flex;
            justify-content: space-around;
        }

        .projects {
            background-color: $accent-color;
            display: list-item;
            /* justify-content: space-between; */
            padding-top: 10px;
            padding-bottom: 10px;
        }
    
        .projects__item {
            display: flex;
            /* flex-wrap: wrap-reverse;
          flex-shrink: 5; */
            align-items: center;
        }
    
        .projects__desc {
            margin-left: 10px;
        }
    
        .projects__number {
            font-size: 21px;
            line-height: 1;
            color: $color-white;
            margin: 0;
            padding: 0;
            margin-bottom: 10px;
        }
}