* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.64;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
    padding: 0;
    
}

.container {
    padding: 0 calc(50vw - 555px);
}